# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Streamlit
.streamlit/secrets.toml

# Environment & Secrets
.env
*.pem
*.key

# Data & SQLite local stores
data/*.db
data/datastream.db
data/raw_events_store.json
*.sqlite3

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# dbt
target/
dbt_packages/
logs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
